section{
    background-image: url(./famosos.png);
    background-color: rgba(236, 241, 245, 0.918);
    background-blend-mode: soft-light;
    background-size:200%;
    background-position:-350px;
    border: 20px solid;
    border-image: linear-gradient(to left, rgb(0, 38, 255, 0.5), rgb(105, 255, 230, 0.2));
    border-image-slice: 1;
   
}

main{
    text-align: center;
    width: 60vw;
    overflow: scroll;
    max-height:34em;
    padding: 20px 20px 0 0 ;

}




body{
    display:flex;
    justify-content: space-evenly;
    background-image: url(./lapices.jpeg);
    background-size: contain;
    background-position: -100px;
    background-color: rgba(236, 241, 245, 0.8);
    background-blend-mode: soft-light;
    
}

header{
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 18px;
    text-shadow: -2px -3px 2px grey;
    color: rgb(114, 199, 255 , 0.6);
}

h3{
    font-size: 30px;
    text-shadow: -2px -3px 2px grey;
    color:rgba(255, 255, 255, 0);
}

h2{
    font-size: 30px;
    text-shadow: -2px -3px 2px grey;
    color:rgba(255, 255, 255, 0);
}

h1:hover{
    color:rgb(0, 132, 255);
}

h2:hover{
        color:rgb(0, 132, 255);
}

p:hover{
        color:rgb(0, 132, 255);
}

figcaption:hover{
    color:rgb(0, 132, 255);
}

li:hover{
   color:rgb(0, 132, 255);
}

img{
    filter:opacity(0.1)
}

img:hover{
    filter:opacity(1);
}

figcaption{
    font-size: 20px;
    text-shadow: -1px -1px 2px grey;
    color:rgba(255, 255, 255, 0);
}

li,ul,ol,p{font-size: 20px;
    text-shadow: -1px -1px 2px grey;
    color:rgba(255, 255, 255, 0);

}


#tituloHistoria{
    font-size: 40px;
    color: blue;
    text-shadow: -2px -3px 2px grey;
    width: 50 vw;
  

    
}


a{
    text-decoration: none;
}








    
